.quiz-advertisement {
    background-color: #05060B; /* fundo escuro consistente */
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    padding: 2rem;
    width: 90%;
    margin-bottom: 5%;
}

.quiz-advertisement h3 {
    font-weight: 700;
    color: #ffffff;
}

.quiz-advertisement p {
    color: #cccccc;
    font-size: 1rem;
}

.btn-quiz-advert {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.btn-quiz-advert:hover {
    background-color: #2980b9;
    transform: scale(1.05);
    text-decoration: none;
}
